:root{
	--color_1: #fff;
	--color_2: #000;
    --color_3: #418fd1;
    --color_4: #5a562d;
	--color_5: #728ff8;
	--color_6: #edf1ff;
	--color_7: #2b468e;
}

body {
	background-color: var(--color_6);
	color : var(--color_2);
	text-align: left;
	font-family: "Noto Sans", sans-serif;
	font-size: 1em;
	margin : 0%;
}

header{
	background-image: url('image/bateau.jpg');
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center center;
	/*height : 400px;*/
	background-repeat: no-repeat;
}

main{
	margin-left: 0%;
    margin-right: 0%;
}

th {
	width: 200px;
}

ul { 
	list-style-type: square;
}

a {
  color: var(--color_4);
}
/*
a:visited {
	color: var(--color_5);
  }
*/

table, th, td {
	background-color: var(--color_6);
	color: var(--color_2);
	border: 1px solid var(--color_2);
	border-collapse: collapse;
	text-align: center;
}

/*propriété du rectangle */
.container a{
    display: flex;
    justify-content: space-around; 
	align-items: center; 
}

.container img{
	float: left;
	margin-right: 15px;
}

.container article{
	width: 100%;
}

.rectangle {
    width: 350px;  
    height: 250px; 
	transition: transform 0.3s ease-in-out; 
    background-size: cover;  
    background-position: center;  
    border-radius: 10px;	
}

.rectangle:hover {
    transform: scale(1.1);
	box-shadow: 0px 10px 20px var(--color_2);
}
/*fin propriété du rectangle*/

h1{
	text-align: center;
	color: var(--color_2);
	text-align: left;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

h2 {
	text-align: center;
	color: var(--color_5);
}

h3{
	color: var(--color_1);
	text-align:right;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 20px;
}

h1, h2, h3, p {
    text-shadow: 2px 2px 4px var(--color_2); 
} 

article{
	background-color: var(--color_3);
	border: 1px solid var(--color_2);
	border-radius: 10px;
	margin: 15px;
	/*width: 100%;*/
}

footer{
	font-size: 0.8em;
}

img.logo {
	width: 160px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
}

/*menu déroulant*/
nav {
	width: 100%;
	margin: 0 auto;
	background-color: var(--color_3);
	transition: top 0.5s;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	width: 16.6%;
	float: left;
	text-align: center;
	position: relative;
}
nav ul::after {
	content: "";
	display: table;
	clear: both;
}
nav a {
	display: block;
	text-decoration: none;
	color: var(--color_2);
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	line-height: 40px; /* Ajuste cette valeur pour correspondre à la hauteur de l'élément */
	font-size: 20px;
	font-weight: bold;
    padding: 1px;
}
nav a:hover {
	color: var(--color_2);
	border-bottom: 2px solid var(--color_2);
	background-color: var(--color_7);
    border-radius: 5px;
}

.sous {
	display: none;
	background-color: var(--color_6);
	position: absolute;
	width: 100%;
	z-index: 1000;
}
nav > ul li:hover .sous {
	display: block;
}
.sous li {
	float: none;
	width: 100%;
	text-align: left;
}
.sous a {
	padding: 10px;
	border-bottom: none;
}
.sous a:hover {
	border-bottom: none;
	background-color: var(--color_6);
}
.deroulant > a::after {
	content: " ▼";
	font-size: 12px;
}
.deroulant:hover > a::after {
	content: " ▲";
}
/*fin menu déroulant*/

/*menu recherche*/
#recherche{
	background-color: var(--color_3);
	border-radius: 10px;
	padding: 10px;
}

.barre_de_recherhce{
	width: 80%;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 10%;
    margin-right: 10%;

	border: 1px solid var(--color_2);
	border-radius: 10px;

	text-align: center;
	font-size: larger;
}
/*fin du menu recherche*/

section.accueil p, #présentation p, #qui section {
	font-size: large;
	border-radius: 0px;
	padding: 20px;
	background-color: var(--color_3);
}

section.critère_logement p label{
	display: inline-block;
}

form#adminconfirm{
	display: flex;
	margin:100px;
	margin-left: 30%;
}

.connexion{
	text-align: center;
	margin-left: 30%;
    margin-right: 30%;
	border-radius: 25px;
    padding: 10px;
    background-color: var(--color_3);
}

#galerie_photo{
	display: flex;
    justify-content: center;
}

#galerie_photo img{
	width: 20%;
    object-fit: cover;
    border-radius: 0px;
}

#map{
	width: 100%;
}

#profil {
	text-align: left;
	border-radius: 25px;
    padding: 10px;
	font-size: 30px ;
    background-color: var(--color_3);
}

#photo_profil{
	max-width: 200px;
}

.imagecentre{
	display: flex;
	justify-content: center;
	align-items: center;
}

#team{
	display: flex;
	align-items: center;
}

#team li{
	display: inline-block;
	border: var(--color_2) solid 2px;
	border-radius: 10px;
	padding: 3px;
	font-weight: bold;
	font-size: large;
	margin-left: 10%;
	margin-right: 10%;
}

footer p{
	float: right;
}
img.description{
	float:left;
	width: 350px;  
    height: 250px; 
	border-radius:10px;
}

.clear{
	clear: both;
}

.containertop{
	display: flex;
	justify-content: center;
}

.containertop a{
	margin-left: 80px;
	margin-right: 80px;
}

#admin_box{
	text-align: left;
	border-radius: 25px;
	padding: 10px;
	margin-top: 20px;
	font-size: large;
	background-color: var(--color_3);
}

/*nav liste des inscrit (page admin)*/
.pagination {
	display: inline-flex;
	align-items: center;
	list-style: none;
	padding: 0;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 5px var(--color_2);
}

.pagination li {
	padding: 10px 15px;
	text-align: center;
	border: 1px solid var(--color_2);
	background:  var(--color_1);
}

.pagination li:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.pagination li:last-child {
	border-right: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.pagination li a {
	text-decoration: none;
	color:  var(--color_3);
	font-size: 16px;
	display: block;
}

.pagination li.active {
	background-color:  var(--color_3);
	color: var(--color_1);
	font-weight: bold;
	border-color:  var(--color_3);
}

.pagination li.active a {
	color: var(--color_1);
}

.pagination li:hover {
	background-color: var(--color_1);
}
/*fin nav liste des inscrit*/

/*panier*/
.panier_bloc{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;  
}

.panier_btn {
	width: 30px;
	height: 30px;
	background-color:  var(--color_7);
	color: var(--color_2);
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
	text-align: center;
}

.panier_btn:hover {
	background-color:  var(--color_5);
}
/* fin du panier*/

.oeil{
	cursor: pointer;
}

.btn_form {
	background-color: var(--color_7);
	color: var(--color_1);
	padding: 8px 16px;
	margin: 10px;  
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border: none;
}

.btn_form:hover {
	background-color: var(--color_5);
}

.select_form{
	background-color: var(--color_7);
	color: var(--color_1);
	padding: 8px 16px;
	margin: 10px;
	font-size: 14px;
	cursor: pointer;
	appearance: none; /* Retire le style natif */
	transition: background-color 0.3s ease;
	border: none;
}

.select_form:hover{
	background-color: var(--color_5);
}