:root{
	--color_1: #fff;
	--color_2: #000;
    --color_3: #1e368d;
    --color_4: #5a562d;
	--color_5: #728ff8;
	--color_6: #edf1ff;
}

body {
	background-color: var(--color_6);
	color : var(--color_2);
	text-align: left;
	font-family: "Noto Sans", sans-serif;
	font-size: 1em;
}

header{
	background-image: url('image/bateau.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

main{
	margin-left: 1%;
    margin-right: 0%;
}

th {
	width: 200px;
}

ul { 
	list-style-type: square;
}

a {
  color: var(--color_4);
}
/*
a:visited {
	color: var(--color_5);
  }
*/

table, th, td {
	background-color: var(--color_6);
	color: var(--color_2);
	border: 1px solid var(--color_2);
	border-collapse: collapse;
	text-align: center;
}

/*propriété du rectangle */
.container {
    display: flex;
    justify-content: space-around;  
    align-items: center; 
}

.rectangle {
    width: 350px;  
    height: 250px; 
	transition: transform 0.3s ease-in-out; 
    background-image: url('image/carte_postal.png');  
    background-size: cover;  
    background-position: center;  
    border-radius: 15px;	
}

.rectangle:hover {
    transform: scale(1.1);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.406);
}
/*fin propriété du rectangle*/

h1{
	text-align: center;
	color: var(--color_2);
	text-align: left;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

h2 , h3 {
	text-align: center;
	color: var(--color_5)
}

article{
	background-color: var(--color_3);
	border: 1px solid var(--color_2);
	border-radius: 10px;
	margin: 15px;
}

footer{
	font-size: 0.8em;
}

img.logo {
	width: 160px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
}

/*menu déroulant*/
nav {
	width: 100%;
	margin: 0 auto;
	background-color: var(--color_3);
	transition: top 0.5s;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	width: 16.6%;
	float: left;
	text-align: center;
	position: relative;
}
nav ul::after {
	content: "";
	display: table;
	clear: both;
}
nav a {
	display: block;
	text-decoration: none;
	color: var(--color_2);
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	line-height: 40px; /* Ajuste cette valeur pour correspondre à la hauteur de l'élément */
}
nav a:hover {
	color: var(--color_2);
	border-bottom: 2px solid var(--color_2);
}

.sous {
	display: none;
	background-color: var(--color_6);
	position: absolute;
	width: 100%;
	z-index: 1000;
}
nav > ul li:hover .sous {
	display: block;
}
.sous li {
	float: none;
	width: 100%;
	text-align: left;
}
.sous a {
	padding: 10px;
	border-bottom: none;
}
.sous a:hover {
	border-bottom: none;
	background-color: RGBa(200, 200, 200, 0.1);
}
.deroulant > a::after {
	content: " ▼";
	font-size: 12px;
}
.deroulant:hover > a::after {
	content: " ▲";
}
/*fin menu déroulant*/

/*menu recherche*/
#recherche{
	background-color: var(--color_3);
	border-radius: 10px;
	padding: 10px;
}

.barre_de_recherhce{
	width: 80%;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 10%;
    margin-right: 10%;

	border: 1px solid var(--color_2);
	border-radius: 10px;

	text-align: center;
	font-size: larger;
}
/*fin du menu recherche*/

section.accueil p, #présentation p, #qui section {
	width: 97%;
	font-size: large;
	border-radius: 25px;
	padding: 20px;
	background-color: var(--color_3);
}

section.critère_logement p label{
	display: inline-block;
}

form#adminconfirm{
	display: flex;
	margin:100px;
	margin-left: 30%;
}

.connexion{
	text-align: center;
	margin-left: 30%;
    margin-right: 30%;
	border-radius: 25px;
    padding: 10px;
    background-color: var(--color_3);
}

#map{
	width: 100%;
}

#profil {
	text-align: left;
	border-radius: 25px;
    padding: 10px;
	font-size: 30px ;
    background-color: var(--color_3);
}
